#header-wrapper {
    background-color: lightblue;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li a {
    display: block;
    flex: 1;
    text-align: center;
}

a {
    text-decoration: none;
}

logo img {
    width: 100px;
    height: 100px;
}

header h1 {
    margin: 20px;
    overflow: hidden;
}

h2 {
    margin: 10px 20px;
    text-align: center;
}

.my-btn {
    padding: 10px 40px;
    line-height: 30px;
    font-size: 15px;
    border: 1px solid #4e7987;
    color: black;
    background-color: lightblue;
}
.my-btn:hover {
    background-color: #4e7987;
    color: white;
}

#content-wrapper {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
}
thead {
    background-color: #4e7987;
}
tr:nth-child(even) { background-color: lightblue; }
tr:hover { background-color: #e6f7fc; }

.my-card {
    background-color: white;
    border: solid;
}

.my-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

#footer-wrapper {
    background-color: lightblue;
}

footer {
    font-size: 20px;
}